{% import "bootstrap/wtf.html" as wtf %}

<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='adduser.css') }}" />
    <!--    <script type="application/javascript" src="{{ url_for('static', filename='index.js') }}"></script>-->
</head>

<body style="width: 100vw; height: 100%;">
    <div class="background" style="padding: 2rem; width: 100%; height: 100%;">
        <div class="alert alert-info" role="alert">Before you submit this form, please ensure you have Google Authenticator installed on your smartphone, as you will need it to complete your registration. Download from <a href="https://apps.apple.com/us/app/google-authenticator/id388497605">iTunes</a> | <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">Google Play</a></div>
        <div class="row" style="margin: 0;">
            <div class="col-12 panel panel-default pull-left" style=" background: transparent; " >
                <div class="panel-heading" style=" background: transparent;">
                    <h3 class="panel-title">Add user!</h3>
                </div>
                <div class="panel-body" style=" background: transparent;">
                     {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert">Note: The next page will show sensitive information. Make sure nobody can see your screen before pressing the Register button.</div>
                <div class="wrapper">
  <div class="img-wrapper">
    <button onclick="window.location.href='/'" type="button">GET ME HOME</button>
  </div>
    </div>
</body>
</html>

