<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bill.css') }}" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="application/javascript"  src="{{ url_for('static', filename='index.js') }}"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="background-img">
		<div class="space"></div>
</div>
 <header>
     <h1 class="heading">AWS Bill!</h1>
 </header>

<body>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="circle-tile ">
        <div class="circle-tile-heading green"><i class="fa fa-dollar fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content green">
          <div class="circle-tile-description text-faded"> {{ currentdate }} </div>
          <div class="circle-tile-number text-faded ">{{ currentbill }}</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="circle-tile ">
        <div class="circle-tile-heading blue"><i class="fa fa-dollar fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content blue">
          <div class="circle-tile-description text-faded"> {{ lastdate }} </div>
          <div class="circle-tile-number text-faded ">{{ lastbill }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div class="wrapper">
  <div class="img-wrapper">
    <button onclick="window.location.href='/'" type="button">GET ME HOME</button>
  </div>
</div>
