<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="../static/newloader.css" />
/<!------ Include the above in your HEAD tag ---------->


<div class="space">
    <div class="background-img">
    </div>
</div>

<img src="../static/loader.png" class="rotate" width="500" height="500" />
<img src="../static/loader-cover.png" class="front" width="500" height="500" />
