{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='mfa.css') }}" />
</head>
<html>
<body>
 <div class="background" style="padding: 2rem; width: 100%; height: 100%;">
    <h1>Two Factor Authentication Setup</h1>
    <p>You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
    <p><img id="qrcode" src="{{ url_for('qrcode') }}"style="background: #FFFFFF"></p>
    <p>I'm done, take me to the <a href="{{ url_for('login') }}">Login</a> page!</p>
</body>
</html>
{% endblock %}
